.header-middle-section .home{
  color: white;
}.header-middle-section .cart{
  color: rgba(8, 70, 169, 255);
}
h4 {
  text-align: center;
  color: white;
  margin-top: 120px;
  font-size: 35px;
  margin-left: 25px;
}
.shoping-cart {
  margin-top: 55px;
}
.cart-container{
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 23px;
}
.products-container {
  padding: 40px 25px 25px 25px;
  border-right: 1px solid rgba(60, 105, 125, 555);
  border-top: 1px solid rgba(60, 105, 125, 555);
  border: 1px solid rgb(57, 56, 56);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  overflow-x: hidden;
 
  
  
}
.products-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}
.products-img img {
  max-width: 100%;
  max-height: 100%;
}
.products-detaills {
  max-height: 10px;
  min-height: 100px;
  margin-left: 25px;
}
.products-name {
  color: whitesmoke;
  font-size: 28px;
}
.products-description {
  color: whitesmoke;
  font-size: 12px;
}
.add-delet-button{
  border: 3px solid rgb(3, 184, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  height: 35px;
  text-align: center;
  align-items: center;
  padding: 20px 12px 20px 12px;
  margin-top: 20px;
  border-radius: 25px;
}
.add-delet-button button{
  width: 55px;
  height: 15px;
  text-align: center;
  border-radius: 20px;
  margin: 8px;
  background:rgba(60, 105, 125, 555);
  color: white;
  font-size: 18px;
  
  box-shadow: 0 0 6px rgb(3, 184, 255), 0 0 6px white;
  transition: 0.4s ease-in-out;
}
.add-delet-button button:hover{
  transform: scale(1.5);
  background-color: rgb(3, 184, 255);
  box-shadow: 0 0 10px rgb(3, 184, 255);
  cursor: pointer;
}
.add-delet-button p{
  font-size: 18px;
  color:white;
}
.products-price {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
  color: rgb(57, 56, 56);
}
h5{
  color: white;
  font-weight: 100px;
  font-size: 20px;
}
.order-summary{
  padding: 35px 35px;
  border: 1px solid rgb(57, 56, 56);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px 100px;
  color: whitesmoke;
  font-size: 23px;
  width: 600px;
}
.order-dettails,
.prices,
.place-order{
  display: grid;
  grid-gap:12px;
}
.place-order button{
  background:rgb(3, 184, 255);
  border-radius: 25px;
  transition:0.4s ease-in-out ;

  font-size: 15px;
  padding: 5px 0;
}
.place-order button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px white, 0 0 25px rgb(3, 184, 255);
  cursor: pointer;
}
.total{
  color: black;

  font-weight: 800px;
  font-size: 30px;
}

